.image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    z-index: 999;
}

.image-button img {
    width: 100px;
    height: auto;
    transition: transform 0.3s ease;
}

.image-button:hover img {
    transform: scale(1.1);
}