.bg-image {
  color: white;
  height: 100vh;
  background-image: url('../../assets/images/wp3.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
}

.result-container {
  padding: 10px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

/* Estilo común para todas las cartas */
.card {
  border-radius: 15px;
  background: rgba(82, 82, 83, 0.8);
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}

.card-img-top {
  width: 100%; /* Asegura que la imagen se ajuste al ancho de la tarjeta */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsión */
  border-bottom: solid 3px white; /* Igual al borde inferior de las imágenes en las cartas de eclipses */
}

.card-body {
  font-weight: normal; /* Quita el estilo en negrita */
  background-color: rgb(56, 56, 58); /* Igual al color de fondo de las cartas de eclipses */
}

.card-text {
  color: white; /* Igual al color del texto de las cartas de eclipses */
}

.card-title {
  background: rgb(255, 255, 255); /* Igual al color de fondo del título de las cartas de eclipses */
  border-radius: 5px; /* Igual al border-radius de las cartas de eclipses */
  font-size: 20px;
  font-weight: bold;
}

.date-inputs input {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  color: white; /* Texto en blanco */
  border: 1px solid white; /* Borde blanco */
  padding: 5px;
  border-radius: 5px;
}

.date-inputs input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Para que el ícono del selector de fecha sea visible en fondos oscuros */
}

.date-inputs label {
  display: block;
  margin-bottom: 10px;
}

.event-buttons {
  margin-bottom: 20px;
}

.event-button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(82, 82, 83);
  transition: background-color 0.3s ease;
  color: white; 
}

.event-button.active {
  background-color: #f0f0f0;
  color: black; /* Color de texto de botón */
}

.event-button:not(.active):hover {
  background-color: #ddd;
}
